.messages {
  margin-top: 139px;
  margin-bottom: 139px;
  aside {
    margin-top: 74px;
  }
  &__inner {
    max-width: 910px;
    margin: 0 168px;
  }
  &__header {
    .title {
      margin: 0;
      padding-bottom: 34px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      font-weight: bold;
      font-size: 35px;
      color: #000000;
    }
    .search-box {
      width: 850px;
      margin: 48px auto;
      display: flex;
      align-items: center;
      .search-input {
        padding-left: 15px;
        width: 749px;
        height: 42px;
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 4px 0px 0px 4px;
      }
      .btn-search {
        width: 96px;
        height: 42px;
        font-size: 21px;
        color: #000000;
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-left: none;
        border-radius: 0px 4px 4px 0px;
      }
    }
    .links {
      max-width: 890px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      .link-item {
        padding-left: 40px;
        font-size: 24px;
        color: #1976d2;
        text-decoration: none;
        position: relative;
      }
      .link-item::before {
        content: "";
        position: absolute;
        background: url("../icons/message-blue.svg") center center/cover
          no-repeat;
        width: 39px;
        height: 38px;
        top: 0;
        left: -4px;
      }
      .link-item-ignor::before {
        background: url("../icons/message-orange.svg") center center/cover
          no-repeat;
      }
      .link-item-creat::before {
        content: "+";
        font-size: 35px;
        left: 14px;
        background: none;
        top: -8px;
      }
    }
  }
  &__content {
    max-width: 844px;
    margin: 170px auto 0;
  }
  &__item {
    margin-bottom: 21px;
    &:last-of-type {
      margin-bottom: 80px;
    }
    padding: 30px 35px 60px;
    display: flex;
    min-height: 245px;
    background: #ffeecc;
    border: 1px solid rgba(25, 118, 210, 0.1);
    border-radius: 10px;
    .author__img {
      margin-right: 66px;
      max-width: 168px;
      min-width: 80px;
      img {
        display: block;
        max-width: 100%;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      .name {
        font-weight: bold;
        font-size: 30px;
        line-height: 1;
        color: #1976d2;
      }
      .count {
        margin-top: 30px;
        font-size: 25px;
        color: #000000;
      }
      .descr {
        margin-top: 30px;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  &__more-link {
    display: block;
    margin: 0 auto;
    font-weight: bold;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.42);
    border: none;
    background: transparent;
  }
}
