.my__offer {
  margin: 87px auto 121px;
  max-width: 1246px;
  width: 100%;
  &-top {
    padding: 18px 24px 18px 68px;
    width: 100%;
    min-height: 432px;
    background: #fafaff;
    border-radius: 10px;

    .title {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      font-size: 30px;
      line-height: 34px;
      color: #000000;
    }
    .date {
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      color: #000000;
    }
    .info {
      margin-top: 97px;
    }
    p {
      margin: 0;
      margin-bottom: 30px;
      color: #000000;
      &:nth-of-type(1) {
        font-size: 20px;
        line-height: 23px;
      }
      &:nth-of-type(2) {
        font-size: 30px;
        line-height: 34px;
        color: #1976d2;
      }
      &:nth-of-type(3) {
        font-size: 25px;
        line-height: 29px;
      }
    }
    a {
      text-decoration: none;
      font-size: 20px;
      line-height: 23px;
    }
    .edit {
      color: #1976d2;
    }
    .delete {
      margin-left: 29px;
      color: #ff2727;
    }
  }
  &-bottom {
    margin-top: 62px;
    padding: 78px 65px;
    width: 100%;
    min-height: 684px;
    background: #fafaff;
    border-radius: 10px;
    .title {
      font-weight: bold;
      font-size: 30px;
      line-height: 34px;
      color: #000000;
    }
    .descr {
      margin: 0 auto;
      margin-top: 52px;
      max-width: 775px;
      width: 100%;
      font-weight: normal;
      font-size: 25px;
      line-height: 29px;
      color: #1976d2;
    }
    .check__box {
      margin-top: 87px;
      margin-bottom: 64px;
      display: flex;
      justify-content: space-between;
      input {
        margin-right: 24px;
        width: 24px;
        height: 24px;
      }
      label {
        margin: 0;
        display: flex;
        align-items: center;
        font-size: 25px;
        line-height: 29px;
        color: #000000;
      }
    }
    .links {
      margin: 0 auto;
      max-width: 322px;
      width: 100%;

      display: flex;
      flex-direction: column;
      a {
        display: block;
        margin-bottom: 22px;
        width: 100%;
        height: 42px;
        font-weight: bold;
        font-size: 16px;
        line-height: 40px;
        color: #ffffff;
        text-decoration: none;
        text-align: center;
        background: #1976d2;
        border-radius: 5px;
      }
    }
    .text {
      margin-bottom: 40px;
      text-align: center;
      font-size: 25px;
      line-height: 29px;
      color: #000000;
      .item-1 {
        display: none;
      }
      .item-2 {
        display: none;
      }
    }
  }
}
